/** Calling utilities **/
/** Calling Base **/
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"), url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"), url("./../assets/fonts/NHaasGroteskDSPro-55Rg.ttf") format("truetype"); }

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-style: medium;
  font-weight: 600;
  src: local("Open Sans"), url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"), url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff"), url("./../assets/fonts/NHaasGroteskDSPro-65Md.ttf") format("truetype"); }

.font-188 {
  font-size: 11.75rem;
  line-height: 9.5rem; }

.font-90 {
  font-size: 5.625rem;
  line-height: 5.5rem; }

.font-60 {
  font-size: 3.75rem;
  line-height: 4rem; }

.font-28 {
  font-size: 1.75rem;
  line-height: 2rem; }

.font-24 {
  font-size: 1.5rem;
  line-height: 1.5rem; }

.font-20 {
  font-size: 1.25rem;
  line-height: 1.5rem; }

.font-14 {
  font-size: .875rem;
  line-height: 1rem; }

.font-12 {
  font-size: .75rem;
  line-height: 1rem; }

.font-60-hero {
  font-size: 3.75rem;
  line-height: 4rem; }

.font-28-hero {
  font-size: 1.75rem;
  line-height: 2rem; }

.lh-28 {
  line-height: 1.75rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Neue Haas Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1 {
  font-weight: normal; }

::selection {
  background-color: #1D79FF; }

.bg-aphnblue {
  background-color: #1D79FF; }

.bg-aphnyellow {
  background-color: #ECE870; }

.bg-lime {
  background-color: #DCEAB9; }

.bg-olive {
  background-color: #605747; }

.bg-bedge {
  background-color: #d7d8d5; }

.bg-black-p {
  background-color: #1A1B1D; }

.bg-red {
  background-color: #D84B35; }

.bg-marine-blue {
  background-color: #37526F; }

.bg-green {
  background-color: #017F71; }

.bg-silver {
  background-color: #C9CBC6; }

.clr-aphnblue {
  color: #1D79FF; }

.clr-aphnyellow {
  color: #ECE870; }

.clr-lightgray {
  color: #F1F1F1; }

.clr-midgray {
  color: #A1A1A1; }

/** Calling Components **/
.sub-container {
  width: auto;
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translate(-50%, 0px);
  z-index: 100; }
  .sub-container ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: none;
    padding: 16px 24px;
    border-radius: 16px;
    background: rgba(195, 210, 232, 0.6);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(0.625rem);
    background-blend-mode: overlay; }
    .sub-container ul li {
      display: flex;
      flex-direction: row;
      justify-content: none;
      align-items: center;
      gap: 0.25rem;
      flex-wrap: none;
      list-style: none; }
      .sub-container ul li a {
        color: #000000;
        font-size: 1rem;
        line-height: 1.5rem;
        text-decoration: none;
        transition: 0.3s; }
        .sub-container ul li a:hover {
          color: #1D79FF; }

.submenu-active {
  width: 10px;
  height: 10px;
  background-color: #1D79FF;
  border-radius: 10px; }

.menu-bg {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  flex-wrap: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  background-color: #ffffff5d;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 2; }
  .menu-bg a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    border-bottom: 2px solid transparent; }

.main-container {
  z-index: 1; }

.aphn-icon {
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 3; }

.cards-cont {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 16px;
  row-gap: 48px; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 0.5rem;
  flex-wrap: none;
  width: calc(25% - 12px); }
  .card img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 4px;
    border: 1px solid #000000;
    transition: 0.3s; }
    .card img:hover {
      border: 1px solid #ECE870;
      outline: 4px solid #ECE870; }

.product-name {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none;
  flex-wrap: none; }

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  flex-wrap: none; }
  .product-info .product-price {
    font-size: .875rem;
    line-height: 1rem;
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid #000000; }
  .product-info .product-color {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 2px solid #F1F1F1; }

/** Calling Layout **/
.header-index {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 50%;
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: none;
  width: 100%;
  padding: 0px 16px; }
  .nav-container a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000000;
    border-bottom: 2px solid transparent; }
  .nav-container .menu-toggle {
    display: none; }
  .nav-container .menu-button {
    display: none; }
  .nav-container .push-right {
    margin-left: auto; }
  .nav-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    gap: 1rem;
    flex-wrap: none;
    list-style: none; }
    .nav-container .navbar li {
      border-bottom: 2px solid transparent;
      transition: 0.3s; }
      .nav-container .navbar li:hover {
        border-bottom: 2px solid #000000; }
      .nav-container .navbar li a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #000000; }

.footer-index {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  height: 384px;
  padding: 32px 16px;
  background: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05) inset;
  grid-template-areas: "ten ten quote quote quote quote . . . . aphn aphn" ". . . . . . . . . . aphn aphn" ". . . . . . . . . . . ." "menu1 menu1 menu2 menu2 menu3 menu3 . . nslr nslr nslr nslr" "copyr copyr copyr copyr . . . . privacy privacy privacy privacy"; }
  .footer-index img {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: aphn;
    justify-self: end; }

.ten {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-start;
  gap: none;
  flex-wrap: none;
  grid-area: ten; }

.quote {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-start;
  gap: none;
  flex-wrap: none;
  grid-area: quote; }

.menu-1 {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-start;
  gap: none;
  flex-wrap: none;
  grid-area: menu1; }

.menu-2 {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-start;
  gap: none;
  flex-wrap: none;
  grid-area: menu2; }

.menu-3 {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-start;
  gap: none;
  flex-wrap: none;
  grid-area: menu3; }

.menu-f {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: none;
  flex-wrap: none; }
  .menu-f li {
    list-style: none; }
    .menu-f li a {
      font-size: .875rem;
      line-height: 1rem;
      text-decoration: none;
      color: #000;
      transition: 0.3s; }
      .menu-f li a:hover {
        color: #1D79FF; }

.newsletter-f {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: flex-start;
  gap: none;
  flex-wrap: none;
  width: 238px;
  grid-area: nslr; }
  .newsletter-f p {
    font-size: .875rem;
    line-height: 1rem; }
  .newsletter-f div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    gap: 1rem;
    flex-wrap: none; }

input[type=text] {
  width: 100%;
  color: #000000;
  border: none;
  outline: none; }

input:focus {
  border-bottom: 2px solid #c8c8c8; }

input[type=submit] {
  color: #000000;
  font-size: .875rem;
  line-height: 1rem;
  background-color: #ffffff;
  border: none;
  border-bottom: 2px solid transparent; }

::placeholder {
  color: #A1A1A1;
  border-style: none; }

:focus {
  border: 0px solid #ffffff;
  border-radius: 0px; }

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: copyr; }

.privacy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: privacy; }
  .privacy a {
    color: #000000;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1rem;
    transition: 0.3s; }
    .privacy a:hover {
      color: #1D79FF; }

.herospace-index {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: none;
  gap: none;
  flex-wrap: none;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url("./../assets/img/herospace/herospace_index.webp");
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding-left: 10%;
  padding-bottom: 10%;
  position: relative;
  margin-top: 0;
  z-index: 10; }

.trend-products {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 1rem;
  flex-wrap: none;
  width: 100%;
  margin: 136px 0px; }
  .trend-products .trend-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: 1rem;
    width: 100%;
    grid-template-areas: "season year . link";
    padding: 0 16px; }
    .trend-products .trend-info .season {
      grid-area: season;
      line-height: 5rem; }
    .trend-products .trend-info .year {
      grid-area: year;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      line-height: 5rem; }

.btn-container {
  grid-area: link;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: #000000;
  text-decoration: none;
  line-height: 2rem; }
  .btn-container a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    line-height: 1rem; }

.archive-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
  width: 100%;
  height: 1328px;
  background-color: #ECE870;
  padding: 0px 16px;
  grid-template-areas: "title title title title title title title title . brand brand brand" "title title title title title title title title . brand brand brand" ". . . . . . . . . . . ." ". . season season . . version version version version . ." "subtitle subtitle . . tagline tagline collection collection collection collection . ." "subtitle subtitle . . . . thumb thumb thumb thumb . ." "subtitle subtitle . . . . thumb thumb thumb thumb . ." "subtitle subtitle . . . . thumb thumb thumb thumb . ." "subtitle subtitle btxt btxt btxt btxt thumb thumb thumb thumb . ." "subtitle subtitle btxt btxt btxt btxt thumb thumb thumb thumb . ." "subtitle subtitle cta cta cta cta thumb thumb thumb thumb . ." "subtitle subtitle . . . . . . . . . ."; }

.title-archive {
  grid-area: title;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none; }

.brand-archive {
  grid-area: brand;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: none;
  flex-wrap: none; }

.season-archive {
  grid-area: season; }

.version-archive {
  grid-area: version;
  line-height: 4.5rem; }

.subtitle-archive {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none;
  flex-wrap: none;
  grid-area: subtitle;
  line-height: 4.5rem;
  /** Rotation **/
  writing-mode: vertical-lr; }

.tagline-archive {
  grid-area: tagline; }

.collection-archive {
  grid-area: collection; }

.archive-container img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-wrap: none;
  grid-area: thumb;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem; }

.text-archive {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: btxt; }

.cta-archive {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: cta; }
  .cta-archive a {
    display: inline-block;
    color: #000000;
    text-decoration: none; }

.collection-tops {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 1.5rem;
  flex-wrap: none;
  width: 100%;
  padding: 136px 0px 216px 0px; }
  .collection-tops .tops-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    width: 100%;
    padding: 0px 16px; }
  .collection-tops .tops-cards {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-start;
    gap: none;
    flex-wrap: none;
    width: 100%;
    border-top: 1px solid #000000; }
    .collection-tops .tops-cards .tops-card {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      gap: 0.5rem;
      flex-wrap: none;
      width: 25%; }
      .collection-tops .tops-cards .tops-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0px 0px 4px 4px; }
    .collection-tops .tops-cards .tops-card-info {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      gap: 0.5rem;
      flex-wrap: none;
      padding: 0px 16px; }
    .collection-tops .tops-cards .tops-card-alt {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      gap: 0.5rem;
      flex-wrap: none;
      width: 25%;
      padding-top: 96px; }
    .collection-tops .tops-cards img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0px 0px 4px 4px; }

.product-listing {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 1rem;
  flex-wrap: none;
  width: 100%;
  margin: 88px 0px 136px 0px; }

.pl-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: none;
  flex-wrap: none;
  padding: 0px 16px; }
  .pl-info .pl-filters {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    gap: 0.5rem;
    flex-wrap: none; }
    .pl-info .pl-filters p {
      font-size: 1rem;
      line-height: .875rem; }
    .pl-info .pl-filters a {
      font-size: 1rem;
      line-height: .875rem;
      color: #A1A1A1;
      text-decoration: none;
      transition: 0.3s; }
      .pl-info .pl-filters a:hover {
        color: #1D79FF; }

.herospace-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-wrap: none;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-bottom: 1px solid #000000; }

.tech-info {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 1rem;
  flex-wrap: none;
  position: absolute;
  left: 16px;
  bottom: 16px;
  z-index: 2; }
  .tech-info .price-color-legal {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none; }
    .tech-info .price-color-legal div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: none;
      gap: none;
      flex-wrap: none;
      padding-bottom: 8px; }
    .tech-info .price-color-legal .legal-d {
      width: 100%; }

.sp-gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: none;
  flex-wrap: none;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; }
  .sp-gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    scroll-snap-align: center; }

.add-module {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 2rem;
  flex-wrap: none;
  width: 365px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 2; }
  .add-module div {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: none;
    flex-wrap: none; }
  .add-module .select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: none;
    gap: 1rem;
    flex-wrap: wrap; }
    .add-module .select-container .size {
      -webkit-appearance: none;
      -moz-appearance: none;
      width: calc(50% - 8px);
      height: 48px;
      color: #000000;
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-position-x: 90%;
      background-position-y: center;
      display: block;
      padding: 0px 20px;
      font-size: 1rem;
      line-height: 1rem;
      border: 2px solid #c5c5c5;
      border-radius: 24px;
      cursor: pointer;
      transition: 0.3s; }
      .add-module .select-container .size:focus {
        border-color: #1D79FF; }
      .add-module .select-container .size:hover {
        border-color: #1D79FF; }
    .add-module .select-container .wish {
      width: calc(50% - 8px);
      height: 48px;
      font-size: 1rem;
      line-height: 1rem;
      color: #000000;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 24px;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      transition: 0.3s; }
      .add-module .select-container .wish:hover {
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.15); }
    .add-module .select-container .add {
      width: 100%;
      height: 48px;
      font-size: 1rem;
      line-height: 1rem;
      background-color: #1D79FF;
      border: 1px solid transparent;
      border-radius: 8px;
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
      cursor: pointer;
      transition: 0.3s; }
      .add-module .select-container .add:hover {
        background-color: #ECE870; }

.size-guide {
  padding-bottom: 8px; }
  .size-guide a {
    color: #000000;
    text-decoration: none;
    border-bottom: 2px solid #000000; }

.herospace-product-m {
  display: none; }

.trend-info-m {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: none;
  flex-wrap: none;
  padding: 0px 16px; }

.about {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 7.5rem;
  flex-wrap: none;
  width: 100%;
  margin: 136px 0px 136px 0px; }
  .about h1 {
    line-height: 11.5rem;
    padding: 0px 16px; }
  .about div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: none;
    width: 100%;
    padding: 0px 16px; }
    .about div img {
      width: 40%; }

.a-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
  flex-wrap: none;
  width: calc(60% - 8px);
  padding: 10%; }

.a-img {
  width: calc(40% - 8px); }

.a-quote {
  text-align: center; }

.journal-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 1rem;
  width: 100%;
  height: 1328px;
  padding: 0px 16px;
  margin: 96px 0px;
  grid-template-areas: "title title title title title title title title . brand brand brand" "title title title title title title title title . brand brand brand" ". . . . . . . . . . . ." ". . season season . . version version version version . ." "subtitle subtitle . . tagline tagline collection collection collection collection . ." "subtitle subtitle . . . . thumb thumb thumb thumb . ." "subtitle subtitle . . . . thumb thumb thumb thumb . ." "subtitle subtitle . . . . thumb thumb thumb thumb . ." "subtitle subtitle btxt btxt btxt btxt thumb thumb thumb thumb . ." "subtitle subtitle btxt btxt btxt btxt thumb thumb thumb thumb . ." "subtitle subtitle cta cta cta cta thumb thumb thumb thumb . ." "subtitle subtitle . . . . . . . . . ."; }

.title-journal {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: title; }

.brand-journal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: brand; }

.season-journal {
  grid-area: season; }

.version-journal {
  grid-area: version;
  line-height: 4.5rem; }

.subtitle-journal {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none;
  flex-wrap: none;
  grid-area: subtitle;
  line-height: 4.5rem;
  /** Rotation */
  writing-mode: vertical-lr; }

.tagline-journal {
  grid-area: tagline; }

.collection-journal {
  grid-area: collection; }

.journal-container img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  flex-wrap: none;
  grid-area: thumb;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem; }

.text-journal {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: btxt; }

.cta-journal {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-end;
  gap: none;
  flex-wrap: none;
  grid-area: cta; }
  .cta-journal a {
    display: inline-block;
    color: #000000;
    text-decoration: none; }

/** Calling Medias **/
/** @media max-width:1280px **/
@media (max-width: 1280px) {
  /** @base1280 **/
  .font-188 {
    font-size: 10.5rem;
    line-height: 7.5rem; }
  .font-60 {
    font-size: 3rem;
    line-height: 3rem; } }

/** @media max-width:1024px **/
@media (max-width: 1024px) {
  /** @base1024 **/
  .font-188 {
    font-size: 9rem;
    line-height: 6.5rem; }
  .font-60 {
    font-size: 2.5rem;
    line-height: 2.5rem; } }

/** @media max-width:768px **/
@media (max-width: 768px) {
  /** @base768 **/
  .font-188 {
    font-size: 5rem;
    line-height: 4rem; }
  .font-90 {
    font-size: 3rem;
    line-height: 1.5rem; }
  .font-60 {
    font-size: 2rem;
    line-height: 2rem; }
  .font-60-hero {
    font-size: 2.5rem;
    line-height: 2.5rem; }
  .font-28-hero {
    font-size: 1.25rem;
    line-height: 1.5rem; }
  /** @components768 **/
  .sub-container {
    bottom: 24px; }
    .sub-container ul {
      backdrop-filter: blur(0.625rem);
      -webkit-backdrop-filter: blur(8px); }
  .menu-bg {
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(8px); }
  .cards-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: none;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 32px; }
  .card {
    width: calc(50% - .5rem); }
  .product-name {
    font-size: .8125rem; }
  /** @layout768 **/
  .header-index {
    width: 100%; }
  .nav-container {
    flex-wrap: wrap;
    position: relative; }
    .nav-container a {
      text-decoration: none;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #000000;
      border-bottom: 2px solid transparent; }
    .nav-container .menu-toggle:checked ~ .navbar {
      height: 100vh; }
    .nav-container .menu-button {
      display: block;
      line-height: 1.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      color: black;
      cursor: pointer; }
    .nav-container .n2 {
      order: 2; }
    .nav-container .n3 {
      order: 1; }
    .nav-container .n4 {
      order: 3; }
    .nav-container ol, .nav-container ul {
      list-style: none; }
    .nav-container .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: none;
      gap: none;
      flex-wrap: none;
      width: 100%;
      height: 0;
      overflow: hidden;
      background-color: #000000;
      position: absolute;
      top: 44px;
      left: 0px;
      padding: 0px 16px;
      transition: all .3s; }
      .nav-container .navbar li a {
        font-size: 2.5rem;
        line-height: 2.5rem;
        color: #ffffff; }
  .footer-index {
    height: 700px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 24px 16px 48px 16px;
    grid-template-areas: "ten ten aphn aphn" "menu1 menu1 aphn aphn" "menu2 menu2 menu3 menu3" "nslr nslr nslr nslr" "copyr copyr copyr copyr" "privacy privacy privacy privacy"; }
    .footer-index img {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      gap: none;
      flex-wrap: none;
      grid-area: aphn; }
  .ten {
    grid-area: ten;
    font-size: 1.25rem;
    line-height: 1.5rem; }
  .quote {
    display: none; }
  .menu-1 {
    grid-area: menu1; }
  .menu-2 {
    grid-area: menu2; }
  .menu-3 {
    grid-area: menu3; }
  .menu-f li a {
    font-size: 1rem;
    line-height: 1.5rem; }
  .newsletter-f {
    width: 100%;
    grid-area: nslr;
    justify-content: flex-end; }
    .newsletter-f p {
      font-size: 1rem;
      line-height: 1.5rem; }
    .newsletter-f div {
      width: 100%; }
  input[type=text] {
    font-size: 1rem;
    line-height: 1.5rem; }
  input[type=submit] {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400; }
  .copyright {
    grid-area: copyr;
    justify-content: flex-start;
    font-size: 1rem;
    line-height: 1rem; }
  .privacy {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: none;
    flex-wrap: none;
    grid-area: privacy; }
    .privacy a {
      font-size: 1rem;
      line-height: 1rem; }
  .footer-index, .f-msp {
    padding-bottom: 32px; }
  .herospace-index {
    height: calc(100vh - 56px);
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 38%;
    gap: 8px; }
  .trend-products {
    margin: 80px 0px; }
    .trend-products .trend-info .season {
      line-height: 2rem; }
    .trend-products .trend-info .year {
      line-height: 2rem; }
  .archive-container {
    height: 720px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 0px 16px 16px 16px;
    grid-template-areas: "title title title title" ". season brand brand" "tagline tagline version version" ". . collection collection" "subtitle . thumb thumb" "subtitle . thumb thumb" "cta cta thumb thumb"; }
  .brand-archive {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: brand;
    font-size: 1rem;
    line-height: 1rem; }
  .season-archive {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: season;
    font-size: 1rem;
    line-height: 1rem; }
  .version-archive {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: version;
    font-size: 3.5rem;
    line-height: 2.5rem; }
  .subtitle-archive {
    grid-area: subtitle;
    font-size: 3.5rem;
    line-height: 2.5rem;
    /** Rotation **/ }
  .tagline-archive {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: tagline;
    font-size: 1rem;
    line-height: 1rem; }
  .collection-archive {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: collection;
    font-size: 1rem;
    line-height: 1rem; }
  .archive-container img {
    grid-area: thumb; }
  .text-archive {
    display: none; }
  .cta-archive {
    grid-area: cta; }
    .cta-archive a {
      font-size: 1rem;
      line-height: 1rem; }
  .collection-tops {
    padding: 80px 0px 80px 0px; }
    .collection-tops .tops-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: none;
      flex-wrap: wrap;
      row-gap: 32px;
      column-gap: 0px;
      border-top: 0px solid #ffffff; }
      .collection-tops .tops-cards .tops-card {
        width: 50%;
        border-top: 1px solid #000000; }
        .collection-tops .tops-cards .tops-card img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0px 0px 4px 4px; }
      .collection-tops .tops-cards .tops-card-alt {
        width: 50%;
        padding-top: 12%;
        border-top: 1px solid #000000; }
  .product-listing {
    margin: 80px 0px; }
  .pl-info {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: 1rem;
    flex-wrap: none; }
    .pl-info .pl-filters p {
      font-size: .875rem; }
    .pl-info .pl-filters a {
      font-size: .875rem; }
  .herospace-product {
    display: none; }
  .herospace-product-m {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: none;
    gap: none;
    flex-wrap: none;
    width: 100%;
    height: calc(100vh - 56px);
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 0;
    z-index: 2; }
  .tech-info {
    position: static;
    order: 2;
    padding: 16px 16px 0px 16px; }
  .sp-gallery {
    outline: 1px solid #000000; }
    .sp-gallery img {
      width: 100%;
      height: calc(100vh - 56px); }
  .add-module {
    width: calc(100% - 32px);
    position: fixed; }
    .add-module div {
      display: flex;
      flex-direction: column;
      justify-content: none;
      align-items: none;
      gap: none;
      flex-wrap: none; }
    .add-module .select-container .wish {
      box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1); }
    .add-module .select-container .add {
      color: #000000; }
  .size-guide {
    padding-bottom: 8px; }
    .size-guide a {
      color: #000000;
      text-decoration: none;
      border-bottom: 2px solid #000000; }
  .about {
    margin: 84px 0px 84px 0px;
    gap: 64px; }
    .about h1 {
      font-size: 3rem;
      line-height: 3rem; }
    .about div {
      flex-wrap: wrap; }
      .about div img {
        width: 100%; }
  .a-text {
    width: 100%;
    padding: 0px; }
  .a-img {
    width: 100%; }
  .a-quote {
    font-size: 1.5rem;
    line-height: 1.5rem; }
  .journal-container {
    height: 760px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 0px 16px 16px 16px;
    margin: 80px 0px;
    grid-template-areas: "title title title title" ". season brand brand" "tagline tagline version version" ". . collection collection" "subtitle . thumb thumb" "subtitle . thumb thumb" "cta cta thumb thumb"; }
  .brand-journal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: brand;
    font-size: 1rem;
    line-height: 1rem; }
  .season-journal {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: season;
    font-size: 1rem;
    line-height: 1rem; }
  .version-journal {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: version;
    font-size: 3.5rem;
    line-height: 2.5rem; }
  .subtitle-journal {
    grid-area: subtitle;
    font-size: 3.5rem;
    line-height: 2.5rem; }
  .tagline-journal {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: tagline;
    font-size: 1rem;
    line-height: 1rem; }
  .collection-journal {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: flex-end;
    gap: none;
    flex-wrap: none;
    grid-area: collection;
    font-size: 1rem;
    line-height: 1rem; }
  .journal-container img {
    grid-area: thumb; }
  .text-journal {
    display: none; }
  .cta-journal {
    grid-area: cta; }
    .cta-journal a {
      font-size: 1rem;
      line-height: 1rem; } }
