/** Calling utilities **/
/** Calling Base **/
@font-face {
  font-family: 'Neue Haas Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"), url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"), url("./../assets/fonts/NHaasGroteskDSPro-55Rg.ttf") format("truetype"); }

@font-face {
  font-family: 'Neue Haas Grotesk';
  font-style: medium;
  font-weight: 600;
  src: local("Open Sans"), url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"), url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff"), url("./../assets/fonts/NHaasGroteskDSPro-65Md.ttf") format("truetype"); }

.font-188 {
  font-size: 11.75rem;
  line-height: 9.5rem; }

.font-90 {
  font-size: 5.625rem;
  line-height: 5.5rem; }

.font-60 {
  font-size: 3.75rem;
  line-height: 4rem; }

.font-28 {
  font-size: 1.75rem;
  line-height: 2rem; }

.font-24 {
  font-size: 1.5rem;
  line-height: 1.5rem; }

.font-20 {
  font-size: 1.25rem;
  line-height: 1.5rem; }

.font-14 {
  font-size: .875rem;
  line-height: 1rem; }

.font-12 {
  font-size: .75rem;
  line-height: 1rem; }

.font-60-hero {
  font-size: 3.75rem;
  line-height: 4rem; }

.font-28-hero {
  font-size: 1.75rem;
  line-height: 2rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Neue Haas Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1 {
  font-weight: normal; }

::selection {
  background-color: #1D79FF; }

.bg-aphnblue {
  background-color: #1D79FF; }

.bg-aphnyellow {
  background-color: #ECE870; }

.bg-lime {
  background-color: #DCEAB9; }

.bg-olive {
  background-color: #605747; }

.bg-bedge {
  background-color: #d7d8d5; }

.bg-black-p {
  background-color: #1A1B1D; }

.bg-red {
  background-color: #D84B35; }

.bg-marine-blue {
  background-color: #37526F; }

.bg-green {
  background-color: #017F71; }

.bg-silver {
  background-color: #C9CBC6; }

.clr-aphnblue {
  color: #ECE870; }

.clr-aphnyellow {
  color: #1D79FF; }

.clr-lightgray {
  color: #F1F1F1; }

.clr-midgray {
  color: #A1A1A1; }

/** Calling Components **/
.sub-container {
  width: auto;
  position: fixed;
  left: 50%;
  bottom: 16px;
  transform: translate(-50%, 0px);
  z-index: 100; }
  .sub-container ul {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 16px 24px;
    border-radius: 16px;
    background: rgba(195, 210, 232, 0.6);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(0.625rem);
    background-blend-mode: overlay; }
    .sub-container ul li {
      display: flex;
      flex-direction: row;
      justify-content: none;
      align-items: center;
      gap: 0.25rem;
      list-style: none; }
      .sub-container ul li a {
        color: #000;
        font-size: 1rem;
        line-height: 1.5rem;
        text-decoration: none;
        transition: 0.3s; }
        .sub-container ul li a:hover {
          color: #1D79FF; }

.submenu-active {
  width: 10px;
  height: 10px;
  background-color: #1D79FF;
  border-radius: 10px; }

.menu-bg {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  background-color: #ffffff5d;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 2; }
  .menu-bg a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    border-bottom: 2px solid transparent; }

/** Calling Layout **/
.header-index {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  width: 50%;
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 150; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 0px 16px; }
  .nav-container a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: black;
    border-bottom: 2px solid transparent; }
  .nav-container .menu-toggle {
    display: none; }
  .nav-container .menu-button {
    display: none; }
  .nav-container .push-right {
    margin-left: auto; }
  .nav-container .navbar {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    gap: 1rem;
    list-style: none; }
    .nav-container .navbar li {
      border-bottom: 2px solid transparent;
      transition: 0.3s; }
      .nav-container .navbar li:hover {
        border-bottom: 2px solid #000000; }
      .nav-container .navbar li a {
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black; }
