.font-188 {
    font-size: 5rem;
    line-height: 4rem;
}
.font-90 {
    font-size: 3rem;
    line-height: 1.5rem;
}
.font-60 {
    font-size: 2rem;
    line-height: 2rem;
}
.font-60-hero {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.font-28-hero {
    font-size: 1.25rem;
    line-height: 1.5rem;
}