.footer-index {
    @include grid (repeat(12, 1fr), repeat(5, 1fr), 1rem);
    width: 100%;
    height: 384px;
    padding: 32px 16px;
    background: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05) inset;
    grid-template-areas:
    "ten ten quote quote quote quote . . . . aphn aphn"
    ". . . . . . . . . . aphn aphn"
    ". . . . . . . . . . . ."
    "menu1 menu1 menu2 menu2 menu3 menu3 . . nslr nslr nslr nslr"
    "copyr copyr copyr copyr . . . . privacy privacy privacy privacy"
    ;
    img {
        @include flex (row, none, flex-end, none, none);
        grid-area: aphn;
        justify-self: end;
    }
}

.ten {
    @include flex (row, none, flex-start, none, none);
    grid-area: ten;
}

.quote {
    @include flex (row, none, flex-start, none, none);
    grid-area: quote;
}

.menu-1 {
    @include flex (row, none, flex-start, none, none);
    grid-area: menu1;
}

.menu-2 {
    @include flex (row, none, flex-start, none, none);
    grid-area: menu2;
}

.menu-3 {
    @include flex (row, none, flex-start, none, none);
    grid-area: menu3;
}

.menu-f {
    @include flex (column, none, none, none, none);
    li {
        list-style: none;
        a {
            font-size: .875rem;
            line-height: 1rem;
            text-decoration: none;
            color: #000;
            transition: 0.3s;
            &:hover {
                color: #1D79FF;
            }
        }
    }
}

.newsletter-f {
    @include flex (column, none, flex-start, none, none);
    width: 238px;
    grid-area: nslr;
    p {
        font-size: .875rem;
        line-height: 1rem;
    }
    div {
        @include flex (row, space-between, none, 1rem, none);
    }
}

input[type=text] {
    width: 100%;
    color: #000;
    border: none;
    outline: none;
}

input:focus {
    border-bottom: 2px solid #c8c8c8;
}

input[type=submit] {
    color: #000;
    font-size: .875rem;
    line-height: 1rem;
    background-color: #ffffff;
    border: none;
    border-bottom: 2px solid transparent;
}

::placeholder {
    color: #A1A1A1;
    border-style: none;
}

:focus {
    border: 0px solid #ffffff;
    border-radius: 0px;
}

.copyright {
    grid-area: copyr;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.privacy {
    @include flex (row, flex-end, flex-end, none, none);
    grid-area: privacy;
    a {
        color: #000000;
        text-decoration: none;
        font-size: .875rem;
        line-height: 1rem;
        transition: 0.3s;
        &:hover {
            color: #1D79FF;
        }
    }
}