.product-listing {
    @include flex (column, none, none, 1rem, none);
    width: 100%;
    margin: 88px 0px 136px 0px;
}

.pl-info {
    @include flex (row, space-between, none, none, none);
    padding: 0px 16px;
    .pl-filters {
        @include flex (row, none, none, .5rem, none);
        p {
            font-size: 1rem;
            line-height: .875rem;
        }
        a {
            font-size: 1rem;
            line-height: .875rem;
            color: map-get($colors , MidGrayAphn);
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                color: map-get($colors , BlueAphn);
            }
        }
    }
    
}