.trend-products {
    @include flex (column, none, none, 1rem, none);
    width: 100%;
    margin: 136px 0px;
    .trend-info {
        @include grid (repeat(4, 1fr), none, 1rem);
        width: 100%;
        grid-template-areas: 
        "season year . link"
        ;
        padding: 0 16px;
        .season {
            grid-area: season;
            line-height: 5rem;
        }
        .year {
            grid-area: year;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            line-height: 5rem;
        }
    }
}

.btn-container {
    grid-area: link;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: #000000;
    text-decoration: none;
    line-height: 2rem;
    a {
        font-size: 1rem;
        color: #000000;
        text-decoration: none;
        line-height: 1rem;
    }
}