.sub-container {
    width: auto;
    position: fixed;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%, 0px);
    z-index: 100;
    ul {
        width: auto;
        @include flex (row, space-between, center, 2rem, none);
        padding: 16px 24px;
        border-radius: 16px;
        background: rgba(195, 210, 232, 0.60);
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.03), 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(0.625rem);
        background-blend-mode: overlay;
        li {
            @include flex (row, none, center, .25rem, none);
            list-style: none;
            a {
                color: #000;
                font-size: 1rem;
                line-height: 1.5rem;
                text-decoration: none;
                transition: 0.3s;
                &:hover {
                    color: #1D79FF;
                }
            }
        }
    }
}

.submenu-active {
    width: 10px;
    height: 10px;
    background-color: #1D79FF;
    border-radius: 10px;
}