.bg-aphnblue {
    background-color: #1D79FF;
}

.bg-aphnyellow {
    background-color: #ECE870;
}

.bg-lime {
    background-color: #DCEAB9;
}

.bg-olive {
    background-color: #605747;
}

.bg-bedge {
    background-color: #d7d8d5;
}

.bg-black-p {
    background-color: #1A1B1D;
}

.bg-red {
    background-color: #D84B35;
}

.bg-marine-blue {
    background-color: #37526F;
}

.bg-green {
    background-color: #017F71;
}

.bg-silver {
    background-color: #C9CBC6;
}

.clr-aphnblue {
    color: #ECE870;
}

.clr-aphnyellow {
    color: #1D79FF;
}

.clr-lightgray {
    color: #F1F1F1;
}

.clr-midgray {
    color: #A1A1A1;
}