@font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: normal;
    font-weight: 400;
    src:
    local("Open Sans"),
    url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"),
    url("./../assets/fonts/NHaasGroteskDSPro-55Rg.woff") format("woff"),
    url("./../assets/fonts/NHaasGroteskDSPro-55Rg.ttf") format("truetype");
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    font-style: medium;
    font-weight: 600;
    src:
    local("Open Sans"),
    url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
    url("./../assets/fonts/NHaasGroteskDSPro-65Md.woff") format("woff"),
    url("./../assets/fonts/NHaasGroteskDSPro-65Md.ttf") format("truetype");
}

.font-188 {
    font-size: 11.75rem;
    line-height: 9.5rem;
}

.font-90 {
    font-size: 5.625rem;
    line-height: 5.5rem;
}

.font-60 {
    font-size: 3.75rem;
    line-height: 4rem;
}

.font-28 {
    font-size: 1.75rem;
    line-height: 2rem;
}

.font-24 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.font-20 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.font-14 {
    font-size: .875rem;
    line-height: 1rem;
}

.font-12 {
    font-size: .75rem;
    line-height: 1rem;
}

.font-60-hero {
    font-size: 3.75rem;
    line-height: 4rem;
}

.font-28-hero {
    font-size: 1.75rem;
    line-height: 2rem;
}